<div class="signup-form">
  <div class="title">Registrate</div>
  <!--<form action="#">
    <div class="input-boxes">
      <div class="input-box">
        <i class="fas fa-user"></i>
        <input type="text" placeholder="Ingrese su nombre completo" required>
      </div>
      <div class="input-box">
        <i class="fas fa-envelope"></i>
        <input type="text" placeholder="Ingrese su correo electronico" required>
      </div>
      <div class="input-box">
        <i class="fas fa-lock"></i>
        <input type="password" placeholder="Ingrese su contraseña" required>
      </div>
      <div class="button input-box">
        <input type="submit" value="Sumbit">
      </div>
      <div class="text sign-up-text">Ya tiene una cuenta? <label for="flip">Inicia sesion ahora</label></div>
    </div>
</form>-->

  <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
    <h3>Preinscripción</h3>
    <!--INPUT nombre delegado-->

    <!-- {{ delegadoAct | json }}
{{ mensajeError | json }}-->

    <!--INPUT nombre-->
    <div class="mb-3 row">
      <label
        for="inputnombre"
        class="nombreEquipo col-sm-2 col-form-label"
        >Nombre:</label
      >
      <div class="col-sm-10">
        <input
          type="text"
          ngModel
          formControlName="nombreDelegado"
          maxlength="50"
          placeholder="Ingrese su nombre"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              form.nombreDelegado.invalid && form.nombreDelegado.touched
          }"
        />
        <div
          *ngIf="
            (form.nombreDelegado.touched &&
              form.nombreDelegado.invalid) ||
            submitted
          "
          class="text-danger"
        >
          <div *ngIf="form.nombreDelegado.errors?.required">
            Este campo no puede estar vacío.
          </div>
        </div>
        <div
          class="text-danger"
          *ngIf="
            nombreDelegado.value != '' &&
            nombreDelegado.invalid &&
            nombreDelegado.touched
          "
        >
          Por favor, ingrese caracteres válidos
        </div>
      </div>
    </div>
    <!--INPUT apellido-->
    <div class="mb-3 row">
      <label
        for="inputnombre"
        class="nombreEquipo col-sm-2 col-form-label"
        >Apellido:</label
      >
      <div class="col-sm-10">
        <input
          type="text"
          ngModel
          formControlName="apellidoDelegado"
          maxlength="50"
          placeholder="Ingrese su apellido"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              form.apellidoDelegado.invalid &&
              form.apellidoDelegado.touched
          }"
        />
        <div
          *ngIf="
            (form.apellidoDelegado.touched &&
              form.apellidoDelegado.invalid) ||
            submitted
          "
          class="text-danger"
        >
          <div *ngIf="form.apellidoDelegado.errors?.required">
            Este campo no puede estar vacío.
          </div>
        </div>
        <div
          class="text-danger"
          *ngIf="
            apellidoDelegado.value != '' &&
            apellidoDelegado.invalid &&
            apellidoDelegado.touched
          "
        >
          Por favor, ingrese caracteres válidos
        </div>
      </div>
    </div>
    <!--INPUT email-->
    <div class="mb-3 row">
      <label for="correo" class="correo col-sm-2 col-form-label"
        >Correo:</label
      >
      <div class="col-sm-10">
        <input
          type="email"
          ngModel
          formControlName="correoDelegado"
          maxlength="50"
          placeholder="Ingrese su correo"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              form.correoDelegado.invalid && form.correoDelegado.touched
          }"
        />
        <div
          *ngIf="
            (form.correoDelegado.touched &&
              form.correoDelegado.invalid) ||
            submitted
          "
          class="text-danger"
        >
          <div *ngIf="form.correoDelegado.errors?.required">
            Este campo no puede estar vacío.
          </div>
        </div>
        <div
          class="text-danger"
          *ngIf="
            correoDelegado.value != '' &&
            correoDelegado.invalid &&
            correoDelegado.touched
          "
        >
          Por favor, ingrese caracteres válidos
        </div>
      </div>
    </div>

    <!--INPUT PAIS-->
    <div class="mb-3 row">
      <label class="pais col-sm-2 col-form-label form-label"
        >País:</label
      >
      <div class="col-sm-10">
        <select
          class="form-control"
          name="nacionalidadDelegado"
          formControlName="nacionalidadDelegado"
          required
        >
          <option value="" disabled selected>Seleccionar país</option>
          <option *ngFor="let pais of paises" [value]="pais.value">
            {{ pais.name }}
          </option>
        </select>
        <div
          *ngIf="
            (form.nacionalidadDelegado.touched && form.nacionalidadDelegado.invalid) ||
            submitted
          "
          class="text-danger"
        >
          <div *ngIf="form.nacionalidadDelegado.errors?.required">
            Elija una de las opciones
          </div>
        </div>
      </div>
    </div>

    <!--INPUT CI-->
    <div class="mb-3 row">
      <label for="ci" class="ci col-sm-2 col-form-label"
        >Documento de Identidad:</label
      >
      <div class="col-sm-10">
        <input
          type="number"
          placeholder="Ingrese su DNI"
          formControlName="ciDelegado"
          max="1000000000000000"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              form.ciDelegado.invalid && form.ciDelegado.touched
          }"
        />
        <div
          *ngIf="
            (form.ciDelegado.touched && form.ciDelegado.invalid) ||
            submitted
          "
          class="text-danger"
        >
          <div *ngIf="form.ciDelegado.errors?.required">
            Este campo no puede estar vacío.
          </div>
        </div>
      </div>
    </div>

    <!--INPUT monto de pago-->

    <div class="mb-3 row">
      <label for="edad" class="montoPago col-sm-2 col-form-label"
        >Edad:</label
      >
      <div class="col-sm-10">
        <input
          type="number"
          placeholder="Ingrese su edad"
          formControlName="edadDelegado"
          class="form-control"
          [ngClass]="{
            'is-invalid': form.edadDelegado.invalid && form.edadDelegado.touched
          }"
        />
        <div
          *ngIf="(form.edadDelegado.touched && form.edadDelegado.invalid) || submitted"
          class="text-danger"
        >
          <div *ngIf="form.edadDelegado.errors?.required">
            Este campo no puede estar vacío.
          </div>
        </div>
      </div>
    </div>

    <!--fotoPerfilJugador-->
    <label class="fotoPerfilDelegado form-label">Foto:</label>
    <input
      type="file"
      name="fotoPerfilDelegado"
      id="fotoPerfilDelegado"
      accept="image/*"
      (change)="onFileSelected($event, 'PROFILE')"
      required
    />
    <!--<div *ngIf="submitted" class="text-danger">
<div *ngIf="form.fotoPerfilJugador.errors?.required">
Por favor, suba su foto
</div>
</div> -->
    <br /><br />
    <!--imagen fotoci-->
    <label class="fotoCiDelegado form-label"
      >Foto Documento Identidad:</label
    >
    <input
      type="file"
      name="fotoCiDelegado"
      id="fotoCiDelegado"
      accept="image/*"
      (change)="onFileSelected($event, 'ID')"
      required
    />
    <!---
<div *ngIf="submitted" class="text-danger">
<div *ngIf="form.fotoCiJugador.errors?.required">
Por favor, suba su foto
</div>
</div>
-->
    <br />

    <div class="text-danger">
      <h3>{{ mensajeError | json }}</h3>
    </div>
    <!--INPUT subir-->
    <div class="text-center">
      <button class="btn btn-primary mr-1">Registrar</button>
      <div class="text sign-up-text">
        Ya tiene una cuenta?
        <label for="flip">Inicia sesion ahora</label>
      </div>
      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModal"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">
                Felicidades!
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">Su Registro fue exitoso</div>
            <div class="modal-footer">
              <button>Aceptar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>