.container{
  font-family: 'Trebuchet MS', sans-serif;

}
*{
  font-size: 17px;
  width: 100%;
}
button{
  width: 30%;
}
input{

  width: 60%;

}
.fecha{
  width: 35%;
}
h3{
  font-family: 'Trebuchet MS', sans-serif;
 
  font-weight: bold;
  color: rgba(243, 70, 2, 0.842);
}

.nombreUsuario{
  font-weight: bold; 
}
.apellidoUsuario{
  font-weight: bold;
}
.correoUsuario{
  font-weight: bold;
}
.documentoIdentidadUsuario{
  font-weight: bold;
}
.fechaNacimiento{
  font-weight: bold;
  
}
.fotoPerfil{
  font-weight: bold;
}

