<app-header></app-header>

{{ listaEquipos | json }}

<br />
InformacionEquipo <br />

<div class="contenedor-grid-cards" id="credencial">
  <div class="card" *ngFor="let jugador of listaJugadores; index as i">
    <div class="card-border-top"></div>
    <!-- <div class="{{}}"></div> -->
    <img
      class="card img"
      [src]="jugador.fotoPerfilJugador"
      [alt]="jugador.nombreJugador"
    />
    <label>{{ jugador?.nombreJugador }}</label>
    <p class="job">{{ infoEquipo?.nombreEquipo }}</p>
    <button>
      
    </button>
  </div>
</div>



<app-footer></app-footer>
