<app-header></app-header>



<br />
<br />

<div class="contenedor-grid-cards" id="credencial">
  <div class="card" *ngFor="let equipo of listaEquipos; index as i">
    <div class="card-border-top"></div>
    <!-- <div class="{{}}"></div> -->
    <img
      class="card img"
      [src]="equipo.logoEquipo"
      [alt]="equipo.nombreEquipo"
    />
    <label>{{ equipo?.nombreEquipo }}</label>
    <p class="job">{{ equipo?.paisEquipo }}</p>
    <a href="jugadoresgeneral/{{ equipo?.idEquipo }}">
      <button>Ver Jugadores</button></a
    >
    
    <br>
    <a href="infoequiposgeneral/{{ equipo?.idEquipo }}">
      <button>Ver información</button></a
    >
    <br>
    
    <br>
    <br>
  </div>
</div>

<br><br><br><br><br>

<app-footer></app-footer>
