<app-header></app-header>
<div class="modal-footer">
  <a class="atras" (click)="atras()"
    ><img
      src="../../../assets/Imagenes/atrasoficial.png"
      height="70"
      width="70"
      alt="Botón"
    />
  </a>
</div>
<!--{{ equipoActual | json }} foto wea: {{ fotoMostrar }}
<br />
jugadores: <br />
{{ listaJugadores | json }}
-->
<div class="container">
  <div class="uno">
    <label type="text" name="text" class="input">
      Nombre Completo:
      {{ infoJugador?.nombreJugador + " " + infoJugador?.apellidoJugador }}
      <hr
    /></label>
    <br /><br />
    <label type="text" name="text" class="input"
      >Edad del jugador: {{ infoJugador?.edadJugador }}
      <hr
    /></label>
    <br /><br />
    <label type="text" name="text" class="input"
      >Numero de camiseta: {{ infoJugador?.numeroCamiseta }}
      <hr
    /></label>
    <br /><br />
    <label type="text" name="text" class="input"
      >País del jugador: {{ infoJugador?.nacionalidadJugador }}
      <hr
    /></label>
    <br /><br />
    <label type="text" name="text" class="input"
      >Posicion del jugador: {{ infoJugador?.posicionJugador }}
      <hr
    /></label>
    <br /><br /><label type="text" name="text" class="input"
      >Talla del jugador: {{ infoJugador?.tallaJugador }}
      <hr
    /></label>
  </div>
  <div class="tres">
    <img
      class="tres img"
      [src]="infoJugador?.fotoPerfilJugador"
      [alt]="infoJugador.nombreJugador"
    />

    <label type="text" name="text" class="input">Foto del jugador<br /></label>
  </div>
</div>
<br />
<app-footer></app-footer>
