.contenedor-grid-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 0rem;
  grid-row-gap: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .contenedor-grid-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }
}
@media only screen and (max-width: 981) {
  .card {
    width: 80%;
    height: 100%;
    background: #3405a3;
    border-radius: 15px;
    
  }
  .card .card-border-top {
    width: 60%;
    height: 3%;
    background: #6b64f3;
    margin: auto;
    border-radius: 0px 0px 15px 15px;
  }
  
  .card label {
    font-weight: 600;
    color: white;
    text-align: center;
    display: block;
    padding-top: 10px;
    font-size: px;
  }
  
  .card .job {
    font-weight: 400;
    color: white;
    display: block;
    text-align: center;
    padding-top: 3px;
    font-size: 20px;
  }
  
  .card .img {
    width: 100px;
    height: 120px;
    background: #6b64f3;
    border-radius: 15px;
    margin: auto;
    margin-top: 25px;
  }
  
  .card button {
    
    display: block;
    margin: auto;
    
    margin-top: 30px;
    background: #6b64f3;
    color: white;
    font-weight: 100;
  }
  
  .card button:hover {
    background: #534bf3;
  }
  
  
}


.card {
  width: 80%;
  height: 100%;
  background: #3405a3;
  border-radius: 15px;
  
}

.card .card-border-top {
  width: 60%;
  height: 3%;
  background: #6b64f3;
  margin: auto;
  border-radius: 0px 0px 15px 15px;
}

.card label {
  font-weight: 600;
  color: white;
  text-align: center;
  display: block;
  padding-top: 10px;
  font-size: px;
}

.card .job {
  font-weight: 400;
  color: white;
  display: block;
  text-align: center;
  padding-top: 3px;
  font-size: 20px;
}

.card .img {
  width: 150px;
  height: 140px;
  background: #6b64f3;
  border-radius: 15px;
  margin: auto;
  margin-top: 25px;
}
.atras{
  position: relative;
  
right: 96%;
}
.card button {
  
  display: block;
  margin: auto;
  
  margin-top: 30px;
  background: #6b64f3;
  color: white;
  font-weight: 100;
}

.card button:hover {
  background: #534bf3;
}
