<app-header></app-header>

<br />
<div class="modal-footer">
  <a class="atras" (click)="atras()"
    ><img
      src="../../../assets/Imagenes/atrasoficial.png"
      height="70"
      width="70"
      alt="Botón"
    />
  </a>
</div>

<div class="contenedor-grid-cards" id="credencial">
  <div class="card" *ngFor="let jugador of listaJugadores; index as i">
    <div class="card-border-top"></div>
    <!-- <div class="{{}}"></div> -->
    <img
      class="card img"
      [src]="jugador.fotoPerfilJugador"
      [alt]="jugador.nombreJugador"
    />
    <label>{{ jugador?.nombreJugador + " " + jugador?.apellidoJugador }}</label>
    <p class="job">{{ jugador?.nombreEquipo }}</p>
    <a [routerLink]="['/infojugadoresgeneral/', jugador.ciJugador]">
      <button>Ver más</button>
    </a>

    <br />
    <br />
  </div>
</div>

<ng-container *ngIf="listaJugadores.length === 0">
  <p>Actualmente no existen jugadores en el sistema</p>
</ng-container>

<br /><br /><br /><br /><br />

<app-footer></app-footer>
