<app-header></app-header>


<br><br>
<div class="container">
  <div class="uno">
    <a href="/vistaadmin">
      <button>Lista de preinscripciones</button>
    </a>
</div>

  <div class="dos">
    <a href="/vistaadmin">
      <button>Evaluar solicitud de preinscripciones</button>
    </a>
  </div>
  <div class="tres">
    <a id="" href="">
      <button>Lista de solicitudes de cuentas delegados</button>
    </a>
  </div>
  
  <div class="cuatro"><br>
    <a id="" href="">
      <button>Evaluar solicitud de cuentas delegados</button>
    </a>
  </div>

</div>

<br><br>


<app-footer> </app-footer>

