<app-header></app-header>
<div class="modal-footer">
    
  <a class="atras" (click)="atras()"><img src="../../../assets/Imagenes/atrasoficial.png" height="70" width="70" alt="Botón"> </a>
  
</div>
<div class="container">
  <div class="uno">
    <a id="{{ id }}" href="/listapredelegado">
      <button>
        Informacion <br /><br />
        de las <br /><br />
        Preinscriciones
      </button>
    </a>
  </div>
  <div class="dos">
    <a id="{{ id }}" href="/eliminarpredelegado">
      <button>
        Eliminar <br /><br />
        preinscriciones
      </button>
    </a>
  </div>
  <div class="tres">
    <a id="{{ id }}" href="/editarpredelegado">
      <button>
        Editar <br /><br />
        preinscriciones
      </button>
    </a>
  </div>
</div>
<br>
<app-footer></app-footer>
