<app-header></app-header>

<div class="container" style="min-width: 100%">
  <!--{{ id }}-->
  --{{ preinscripcionActual | json }} --> foto wea: {{ fotoMostrar }}
  <!--<form (ngSubmit)="onSubmit()" [formGroup]="registerForm"></form>-->
  <h1>Vista administrador</h1>
  <h3>Preinscripción</h3>
  <form>
    <!--INPUT nombre delegado-->

    <!--categorias <br />s
      {{ listaEquipos | json }} <br />
      {{ listaCategorias | json }} <br />
      paises <br />
      {{ listaPaises | json }} <br />
      -->

    <div class="mb-3 row">
      <label for="inputnombreDelegado" class="col-sm-2 col-form-label"
        ><h2>Nombre delegado:</h2></label
      ><label>{{ preinscripcionActual?.nombreDelegado }}</label>
    </div>

    <!--INPUT email-->
    <div class="mb-3 row">
      <label for="inputemail" class="col-sm-2 col-form-label">
        <h2>Email:</h2></label
      >
      <label>{{ preinscripcionActual?.email }}</label>
    </div>

    <!--INPUT nombreequipo-->
    <div class="mb-3 row">
      <label for="inputnombreEquipo" class="col-sm-2 col-form-label"
        ><h2>Nombre del equipo:</h2></label
      ><label>{{ preinscripcionActual?.nombreEquipo }}</label>
    </div>

    <!--INPUT PAIS-->
    <div class="mb-3 row">
      <label for="inputpaisEquipo" class="col-sm-2 col-form-label"
        ><h2>Pais:</h2></label
      >
      <label>{{ preinscripcionActual?.pais }}</label>
    </div>

    <!--INPUT categorias-->
    <div class="mb-3 row">
      <label for="inputcategoria" class="col-sm-2 col-form-label"
        ><h2>Categoria:</h2></label
      ><label>{{ preinscripcionActual?.idCategoria }}</label>
    </div>

    <!--INPUT nro de comprobante-->
    <div class="mb-3 row">
      <label for="inputnroComprobante" class="col-sm-2 col-form-label"
        ><h2>Nro de comprobante de pago:</h2></label
      ><label>{{ preinscripcionActual?.numeroComprobante }}</label>
    </div>

    <!--INPUT monto de pago-->
    <div class="mb-3 row">
      <label for="inputmontoPago" class="col-sm-2 col-form-label"
        ><h2>Monto de pago:</h2></label
      ><label>{{ preinscripcionActual?.montoPago }}</label>
    </div>

    <br />
    <!--imagen voucher-->
    <label class="inputmontoPago" class="col-sm-2 col-form-label"
      ><h2>Comprobante de pago:</h2></label
    >
    <label
      ><a [href]="fotoMostrar">
        {{ fotoMostrar }}
      </a></label
    >
    <img [src]="fotoMostrar" />

    <!-- <div
        *ngIf="submitted"
        class="text-danger"
      >
        <div *ngIf="form.voucherPreinscripcion.errors?.required">
          Por favor, suba el comprobante
        </div>
      </div> -->
    <br /><br />
    <!--INPUT agregar fecha-->
    <label class="inputmontoPago" class="col-sm-2 col-form-label"
      ><h2>Fecha de pago:</h2></label
    >
    <label>{{ preinscripcionActual?.fechaPreinscripcion }}</label>

    <!--INPUT aprobar-->
    <div class="text-center">
      <button
        class="btn btn-primary mr-1"
        [routerLink]="['/vistaadmin/']"
        (click)="aceptarPreinscripcion(id)"
      >
        Aprobar
      </button>

      <button
        id="{{ id }}"
        class="btn btn-secondary"
        [routerLink]="['/vistaadmin/']"
        (click)="rechazarPreinscripcion(id)"
      >
        Denegar
      </button>
    </div>
  </form>
</div>

<app-footer></app-footer>
