<app-header></app-header>


  <!--{{ id }}-->
  <!--{{ preinscripcionActual | json }}  foto wea: {{ fotoMostrar }}-->
  <!--<form (ngSubmit)="onSubmit()" [formGroup]="registerForm"></form>-->
  <h1>Vista administrador</h1>
  <h3>Preinscripción</h3>
  
  
    <!--INPUT nombre delegado-->

    <!--categorias <br />s
      {{ listaEquipos | json }} <br />
      {{ listaCategorias | json }} <br />
      paises <br />
      {{ listaPaises | json }} <br />
      -->
      <div class="container">
      <div class="uno">
      
      <label type="text" name="text" class="input" >nombre del Delegado: {{ preinscripcionActual?.nombreDelegado }}</label>
    <br><br>

    <!--INPUT email-->
    
      

      <label type="text" name="text" class="input" >Email: {{ preinscripcionActual?.correoDelegado }}</label>
      <br><br>
    

    <!--INPUT nombreequipo-->
    
      
      <label type="text" name="text" class="input" >Nombre del equipo: {{ preinscripcionActual?.nombreEquipo }}</label>
      <br><br>

    <!--INPUT PAIS-->
    
      

      <label type="text" name="text" class="input" >Pais: {{ preinscripcionActual?.paisEquipo }}</label>
      <br><br>

   

    <!--INPUT categorias-->
   
     

      <label type="text" name="text" class="input" >Categoria: {{ preinscripcionActual?.nombreCategoria }}</label>
      <br><br>

    <!--INPUT nro de comprobante-->
    
      
      <label type="text" name="text" class="input" >Nro de comprobante de pago: {{ preinscripcionActual?.nroComprobante }}</label>
      <br><br>

    <!--INPUT monto de pago-->
    
      
      <label type="text" name="text" class="input" >Monto de pago: {{ preinscripcionActual?.montoPago }}</label>
      <br><br>

    <br />
    <!--imagen voucher-->
    
    <label type="text" name="text" class="input" >Comprobante de pago: {{ fotoMostrar }} </label>
    <br><br>

    

    <!-- <div
        *ngIf="submitted"
        class="text-danger"
      >
        <div *ngIf="form.voucherPreinscripcion.errors?.required">
          Por favor, suba el comprobante
        </div>
      </div> -->
    <br /><br />
    <!--INPUT agregar fecha-->
    
    <label type="text" name="text" class="input" >Fecha de pago: {{ preinscripcionActual?.fechaPreinscripcion }}</label>

      </div>

      <div class="dos">
        <img [src]="fotoMostrar" />
      </div>
      </div>
<br>
    <!--INPUT aprobar-->
    <div class="text-center">
      <button
        class="btn btn-primary mr-1"
        [routerLink]="['/vistaadmin/']"
        (click)="aceptarPreinscripcion(id)"
      >
        Aprobar
      </button>

      <button
        id="{{ id }}"
        class="btn btn-secondary"
        [routerLink]="['/vistaadmin/']"
        (click)="rechazarPreinscripcion(id)"
      >
        Denegar
      </button>
    </div>
  <br>

<app-footer></app-footer>
