
<head>        
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
</head>

  <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
          <i class="fas fa-bars"></i>
      </label>
      <a href="#" class="enlace">
        <img src="../../../../assets/Imagenes/Logo.png" alt="">
      </a>
      <ul>
        <li class="nav-item active">
          <a class="nav-link" href="">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/listaequipos">Equipos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/fixture">Fixture</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Inicio Sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/vistadelegado">Perfil</a>
        </li>
      </ul>
  </nav>
  <section></section>

