<app-header></app-header> ID actual: {{ id }} <br /><br />
<div class="container">
  <div class="uno">
    <a href="/preinscripcion">
      <button>Preinscribir Equipos</button>
    </a>
  </div>

  <div class="dos">
    <a href="/equipoaprobado">
      <button>Inscribir equipos</button>
    </a>
  </div>
  <div class="tres">
    <a id="{{ id }}" href="/listaequipos">
      <button>Mis equipos</button>
    </a>
  </div>
  <div class="cuatro">
    <a id="{{ id }}" href="/menupredelegado">
      <button>Mis Preinscripciónes</button>
    </a>
  </div>
  <br />
  <div class="cinco">
    <a
      class="boton-email"
      href="mailto:administrador@gmail.com?Subject=solicito%20su%20ayuda%20porfavor"
      ><button>Comunicate con el administrador</button>
    </a>
  </div>
</div>

<br /><br />

<app-footer> </app-footer>
