<app-header></app-header>
<mat-grid-list cols="1" rowHeight="150px">
  <mat-grid-tile>
    <a href="/preinscripcion/{{ id }}">
      <button>Preinscribir Equipos</button>
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a href="/equipoaprobado/{{ id }}">
      <button>Inscribir equipos</button>
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a id="{{ id }}" href="/listaequipos/{{ id }}">
      <button>Mis equipos</button>
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a href="/preinscripcion/{{ id }}">
      <button>Mis Preinscripciónes</button>
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a
      class="boton-email"
      href="mailto:administrador@gmail.com?Subject=solicito%20su%20ayuda%20porfavor"
      ><button>Comunicate con el administrador</button>
    </a>
  </mat-grid-tile>
</mat-grid-list>
<app-footer> </app-footer>
