<app-header></app-header>

<h1>Vista del delegado</h1>
<!--{{ listaJugadores | json }} -->
<div class="container">
  <div class="row">
    <div class="col">
      <div class="table-responsive">
        <table class="mt-4 table table-hover table-striped table-secondary">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Nacionalidad</th>
              <th scope="col">Posición</th>
              <th scope="col">Edad</th>
              <th scope="col">Talla</th>
              <th scope="col">Nro Camiseta</th>
              <th scope="col">Posición</th>
              <th scope="col">foto jugador</th>
              <th scope="col">eliminar jugador</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Martha</td>
              <td>Otto</td>
              <td>Bolivia</td>
              <td>pivot</td>
              <td>56</td>
              <td>l</td>
              <td>12</td>
              <td>imagen.png</td>
              <td>imagen.png</td>
              <th>
                <a href="/vistadelegado" class="basuero">eliminar</a>
              </th>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>juana</td>
              <td>lopez</td>
              <td>Bolivia</td>
              <td>pivot</td>
              <td>56</td>
              <td>l</td>
              <td>12</td>
              <td>imagen.png</td>
              <td>imagen.png</td>
              <th>
                <a href="/vistadelegado" class="basuero">eliminar</a>
              </th>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>lucia</td>
              <td>vaca</td>
              <td>Bolivia</td>
              <td>pivot</td>
              <td>56</td>
              <td>m</td>
              <td>1</td>
              <td>imagen.png</td>
              <td>imagen.png</td>
              <th>
                <a href="/vistadelegado" class="basuero">eliminar</a>
              </th>
            </tr>
          </tbody>
        </table>

        <div class="d-grid gap-2 col-1 mx-auto">
          <a class="btn" href="/inscripcion">+</a>
        </div>
      </div>
    </div>
  </div>

  <br /><br /><br /><br /><br />
</div>
<a
  class="boton-email"
  href="mailto:administrador@gmail.com?Subject=solicito%20su%20ayuda%20porfavor"
  >Comunicate con el administrador</a
>
<br /><br /><br /><br /><br />

<app-footer> </app-footer>
