<app-header></app-header>
<mat-list role="list">
    <a mat-list-item href="" > delegado1 </a>
    <a mat-list-item href="" > delegado2 </a>
    <a mat-list-item href="" > delegado3 </a>
    <a mat-list-item href="" > delegado4 </a>
    <a mat-list-item href="/vistaadmin" > administrador1 </a>
    <a mat-list-item href="/vistaadmin" > administrador2 </a>
    <a mat-list-item href="/vistaadmin" > administrador3 </a>
    <a mat-list-item href="/vistaadmin" > administrador4 </a>
  </mat-list>
  
  

<app-footer></app-footer>