<app-header></app-header>
<body>
<mat-list role="list">
  <!--<a
    mat-list-item
    href="/listaequipos"
    (click)="iniciarSesion('luis@gmail.com', '123123123')"
  >
    delegado Luis
  </a>-->
  <!-- <a mat-list-item href="/listaequipos" (click)="grabar_local_storage('1')">
    delegado Luis
  </a>

  <a mat-list-item href="/listaequipos" (click)="grabar_local_storage('2')">
    delegado Pablo
  </a> -->

  <!--<a mat-list-item (click)="iniciarSesion('kevin@gmail', '123123123')">
    delegado Kevin
  </a>-->

  <a mat-list-item *ngFor="let url of urls; index as i" [routerLink]="url.href">
    {{ url.titulo }}
  </a>

  <a mat-list-item href="/vistaadmin"> administrador1 </a>
  <!--<a mat-list-item href="/vistaadmin"> administrador2 </a>
  <a mat-list-item href="/vistaadmin"> administrador3 </a>
  <a mat-list-item href="/vistaadmin"> administrador4 </a> -->
</mat-list>
</body>
<app-footer></app-footer>
