<app-header></app-header>
<app-navar></app-navar>

<div class="container">
  <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
    <h3>Inscripción de jugador</h3>
    <!--INPUT nombre delegado-->

    <!--categorias <br />
    {{ listaEquipos | json }} <br />
    {{ listaCategorias | json }} <br />
    paises <br />
    {{ listaPaises | json }} <br />
    -->

    <div class="mb-3 row">
      <label for="inputnombreJugador" class="col-sm-2 col-form-label"
        >Nombre Jugador:</label
      >
      <div class="col-sm-10">
        <input
          type="text"
          ngModel
          maxlength="50"
          placeholder="Ingrese el nombre del jugador"
          formControlName="nombreJugador"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              form.nombreJugador.invalid && form.nombreJugador.touched
          }"
        />

        <div
          class="text-danger"
          *ngIf="nombreJugador.errors?.required && nombreJugador.touched"
        >
          Este campo no puede estar vacio.
        </div>
        <div
          class="text-danger"
          *ngIf="
            nombreJugador.value != '' &&
            nombreJugador.invalid &&
            nombreJugador.touched
          "
        >
          Por favor, ingresa caracteres validos
        </div>
      </div>
    </div>

    <!--INPUT nombreequipo-->
    <div class="mb-3 row">
      <label for="inputnombreEquipo" class="col-sm-2 col-form-label"
        >Apellido jugador:</label
      >
      <div class="col-sm-10">
        <input
          type="text"
          ngModel
          formControlName="apellidoJugador"
          maxlength="50"
          placeholder="Ingrese apellido del jugador"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              form.apellidoJugador.invalid && form.apellidoJugador.touched
          }"
        />
        <div
          class="text-danger"
          *ngIf="apellidoJugador.errors?.required && apellidoJugador.touched"
        >
          Este campo no puede estar vacio.
        </div>
        <div
          class="text-danger"
          *ngIf="
            apellidoJugador.value != '' &&
            apellidoJugador.invalid &&
            apellidoJugador.touched
          "
        >
          Por favor, ingresa caracteres validos
        </div>
      </div>
    </div>

    <!--INPUT PAIS-->
    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label form-label">País:</label>
      <div class="col-sm-10">
        <select
          class="form-control"
          name="nacionalidadJugador"
          formControlName="nacionalidadJugador"
          required
        >
          <option value="" disabled selected>Seleccionar pais</option>
          <option *ngFor="let pais of paises" [value]="pais.value">
            {{ pais.name }}
          </option>
        </select>
        <div
          *ngIf="
            (form.nacionalidadJugador.touched &&
              form.nacionalidadJugador.invalid) ||
            submitted
          "
          class="text-danger"
        >
          <div *ngIf="form.nacionalidadJugador.errors?.required">
            Elija una de las opciones
          </div>
        </div>
      </div>
    </div>
    <!--INPUT Tallas-->
    <div class="mb-3 row">
      <label for="talla" class="col-sm-2 col-form-label form-label"
        >Talla:</label
      >
      <div class="col-sm-10">
        <select
          name="tallaJugador"
          id="tallaJugador"
          class="form-select form-select-sm"
          formControlName="tallaJugador"
        >
          <option value="" disabled selected>Seleccionar talla</option>
          <option value="x">XL</option>
          <option value="l">L</option>
          <option value="m">M</option>
          <option value="s">S</option>
        </select>
        <div
          *ngIf="
            (form.tallaJugador.touched && form.tallaJugador.invalid) ||
            submitted
          "
          class="text-danger"
        >
          <div *ngIf="form.tallaJugador.errors?.required">
            Elija una de las opciones
          </div>
        </div>
      </div>
    </div>
    <!--INPUT posicion-->
    <div class="mb-3 row">
      <label for="posicion" class="col-sm-2 col-form-label form-label"
        >Posición:</label
      >
      <div class="col-sm-10">
        <select
          name="posicionJugador"
          id="posicionJugador"
          class="form-select form-select-sm"
          formControlName="posicionJugador"
        >
          <option value="" disabled selected>Seleccionar posición</option>
          <option value="Base">Base</option>
          <option value="Escolta">Escolta</option>
          <option value="Alero">Alero</option>
          <option value="Ala-pivot">Ala-pivot</option>
          <option value="Pivot">Pivot</option>
        </select>
        <div
          *ngIf="
            (form.posicionJugador.touched && form.posicionJugador.invalid) ||
            submitted
          "
          class="text-danger"
        >
          <div *ngIf="form.posicionJugador.errors?.required">
            Elija una de las opciones
          </div>
        </div>
      </div>
    </div>
    <!--INPUT edad-->
    <div class="mb-3 row">
      <label for="edad" class="col-sm-2 col-form-label">Edad:</label>
      <div class="col-sm-10">
        <input
          type="number"
          placeholder="Ingrese su edad"
          formControlName="edadJugador"
          class="form-control"
          [ngClass]="{
            'is-invalid': form.edadJugador.invalid && form.edadJugador.touched
          }"
        />
        <div
          *ngIf="
            (form.edadJugador.touched && form.edadJugador.invalid) || submitted
          "
          class="text-danger"
        >
          <div *ngIf="form.edadJugador.errors?.required">
            Este campo no puede estar vacio.
          </div>
        </div>
      </div>
    </div>

    <!--INPUT CI-->
    <div class="mb-3 row">
      <label for="edad" class="col-sm-2 col-form-label">Número CI:</label>
      <div class="col-sm-10">
        <input
          type="number"
          placeholder="Ingrese su número CI"
          formControlName="ciJugador"
          class="form-control"
          [ngClass]="{
            'is-invalid': form.ciJugador.invalid && form.ciJugador.touched
          }"
        />
        <div
          *ngIf="
            (form.ciJugador.touched && form.ciJugador.invalid) || submitted
          "
          class="text-danger"
        >
          <div *ngIf="form.ciJugador.errors?.required">
            Este campo no puede estar vacio.
          </div>
        </div>
      </div>
    </div>
    <br />
    <!--INPUT numero de camiceta-->
    <div class="mb-3 row">
      <label for="edad" class="col-sm-2 col-form-label">Número camiseta:</label>
      <div class="col-sm-10">
        <input
          type="number"
          placeholder="Ingrese su nro de camiseta"
          formControlName="numeroCamiseta"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              form.numeroCamiseta.invalid && form.numeroCamiseta.touched
          }"
        />
        <div
          *ngIf="
            (form.numeroCamiseta.touched && form.numeroCamiseta.invalid) ||
            submitted
          "
          class="text-danger"
        >
          <div *ngIf="form.numeroCamiseta.errors?.required">
            Este campo no puede estar vacio.
          </div>
        </div>
      </div>
    </div>
    <br />
    <!--fotoPerfilJugador-->
    <label class="form-label">Foto del jugador:</label>
    <input
      type="file"
      name="fotoPerfilJugador"
      id="fotoPerfilJugador"
      accept="image/*"
      (change)="onFileSelected($event, 'PROFILE')"
      required
    />
    <div *ngIf="submitted" class="text-danger">
      <div *ngIf="form.fotoPerfilJugador.errors?.required">
        Por favor, suba su foto
      </div>
    </div>
    <br /><br />
    <!--imagen fotoci-->
    <label class="form-label">Foto CI:</label>
    <input
      type="file"
      name="fotoCiJugador"
      id="fotoCiJugador"
      accept="image/*"
      (change)="onFileSelected($event, 'ID')"
      required
    />
    <!---
    <div *ngIf="submitted" class="text-danger">
      <div *ngIf="form.fotoCiJugador.errors?.required">
        Por favor, suba su foto
      </div>
    </div>
  -->
    <br /><br />

    <!--INPUT subir-->
    <div class="text-center">
      <button class="btn btn-primary mr-1">Registrarse</button>

      <button class="btn btn-secondary" type="reset" (click)="onReset()">
        Cancelar
      </button>
    </div>
  </form>
</div>

<app-footer></app-footer>
