
<app-header></app-header>
<app-navar></app-navar>

<div class="container">
  <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
    <h3>Inscripcion de jugador</h3>


<!--INPUT Categorias-->
<div class="mb-3 row">
<label for="categorias" class="col-sm-2 col-form-label form-label">Categoria:</label>
<div class="col-sm-10">
<select
  name="categorias"
  id="categorias"
  class="form-select form-select-sm"
  formControlName="categorias"
>
  <option value="+35">mayores de 35</option>
  <option value="+45">mayores de 45</option>
  <option value="+55">mayores de 55</option>
</select>
<div
*ngIf="(form.categorias.touched && form.categorias.invalid) || submitted"
class="text-danger"
>
<div *ngIf="form.categorias.errors?.required">
  Elija una de las opciones
</div>
</div>
</div>
</div>

    <!--INPUT nombre delegado-->
    <div class="mb-3 row">
    <label for="inputnombres" class="col-sm-2 col-form-label">Nombres:</label>
    <div class="col-sm-10">
      
    <input
      type="text"
      ngModel maxlength="50"
      formControlName="nombredeljugador"
      class="form-control"
      [ngClass]="{
        'is-invalid': form.nombredeljugador.invalid && form.nombredeljugador.touched
      }"
    />
    <div
      *ngIf="form.nombredeljugador.invalid && form.nombredeljugador.touched"
      class="invalid-feedback"
    >
      Este campo no puede estar vacio.
    </div>
  </div>
</div>

<!--INPUT apellido-->
<div class="mb-3 row">
    <label  for="inputapellidos" class="col-sm-2 col-form-label">Apellidos:</label>
    <div class="col-sm-10">
    <input
      type="text"
      formControlName="apellidodeljugador"
      class="form-control"
      [ngClass]="{
        'is-invalid': form.apellidodeljugador.invalid && form.apellidodeljugador.touched
      }"
      
      
    />
    <div
      *ngIf="form.apellidodeljugador.invalid && form.apellidodeljugador.touched"
      class="invalid-feedback"
    >
    Este campo no puede estar vacio.

    
    </div>
  </div>
</div>
<!--INPUT PAIS-->
<div class="mb-3 row">
<label for="pais" class="col-sm-2 col-form-label form-label">Nacionalidad:</label>
<div class="col-sm-10">
<select
  class="form-control"
  name="paisEquipo"
  formControlName="paisEquipo"
  required
>
  <option value="" disabled>Seleccionar pais</option>
  <option *ngFor="let pais of paises" [value]="pais.value">
    {{ pais.name }}
  </option>
</select>
<div
  *ngIf="(form.paisEquipo.touched && form.paisEquipo.invalid) || submitted"
  class="text-danger"
>
  <div *ngIf="form.paisEquipo.errors?.required">
    Elija una de las opciones
  </div>
</div>
</div>
</div>
  
    
<!--INPUT Categorias-->
<div class="mb-3 row">
<label for="talla" class="col-sm-2 col-form-label form-label">Talla:</label>
<div class="col-sm-10">
<select
  name="talla"
  id="talla"
  class="form-select form-select-sm"
  formControlName="talla"
>
  <option value="x">XL</option>
  <option value="l">L</option>
  <option value="m">M</option>
  <option value="s">S</option>
</select>
<div
*ngIf="(form.talla.touched && form.talla.invalid) || submitted"
class="text-danger"
>
<div *ngIf="form.talla.errors?.required">
  Elija una de las opciones
</div>
</div>
</div>
</div>
<br>
<!--INPUT posicion-->

<div class="mb-3 row">
<label for="nroCamiseta" class="col-sm-2 col-form-label"  >Nro Camiseta:</label>
<div class="col-sm-10">
<input
  type="number"
  formControlName="camiseta"
  class="form-control"
  [ngClass]="{
    'is-invalid': form.camiseta.invalid && form.camiseta.touched
  }"
  
  
/>
<div
  *ngIf="form.camiseta.invalid && form.camiseta.touched"
  class="invalid-feedback"
>
Este campo no puede estar vacio.


</div>
</div>
</div>
<!--INPUT edad-->

<div class="mb-3 row">
<label for="edad" class="col-sm-2 col-form-label">Edad:</label>
<div class="col-sm-10">
<input
  type="number"
  formControlName="edad"
  class="form-control"
  [ngClass]="{
    'is-invalid': form.edad.invalid && form.edad.touched
  }"
  
  
/>
<div
  *ngIf="form.edad.invalid && form.edad.touched"
  class="invalid-feedback"
>
Este campo no puede estar vacio.


</div>
</div>
</div>




<!--INPUT posicion-->
<div class="mb-3 row">
<label for="posicion" class="col-sm-2 col-form-label form-label">Posicion:</label>
<div class="col-sm-10">
<select
  name="posicion"
  id="posicion"
  class="form-select form-select-sm"
  formControlName="posicion"
>
  <option value="Base">Base</option>
  <option value="Escolta">Escolta</option>
  <option value="Alero">Alero</option>
  <option value="Ala-pivot">Ala-pivot</option>
  <option value="Pivot">Pivot</option>
</select>
<div
*ngIf="(form.posicion.touched && form.posicion.invalid) || submitted"
class="text-danger"
>
<div *ngIf="form.talla.errors?.required">
  Elija una de las opciones
</div>
</div>
</div>
</div>

<br>
    

    <!--INPUT subir imagen-->
    <label class="form-label">Foto Jugador:</label>
    <input
      type="file"
      name="imagen"
      id="imagen"
      formControlName="imagen"
      accept="image/*"
      required
    />
    <div
      *ngIf="(form.imagen.touched && form.imagen.invalid) || submitted"
      class="text-danger"
    >
      <div *ngIf="form.imagen.errors?.required">
        Tiene que adjuntar un archivo
      </div>
    </div>

    <br>
    <br>

    <!--INPUT subir imagen-->
    <label class="form-label">CI:</label>
    <input
      type="file"
      name="CI"
      id="CI"
      formControlName="CI"
      accept="CI/*"
      required
    />
    <div
      *ngIf="(form.CI.touched && form.CI.invalid) || submitted"
      class="text-danger"
    >
      <div *ngIf="form.CI.errors?.required">
        Tiene que adjuntar un archivo
      </div>
    </div>

    

   

    <!--INPUT subir-->
    <div class="text-center">
      <button class="btn btn-primary mr-1" [disabled]="registerForm.invalid">
        Ingresar
      </button>
      <button class="btn btn-secondary" type="reset" (click)="onReset()">
        Cancelar
      </button>
    </div>
  </form>
</div>
<app-footer>
</app-footer>