.container {  display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "uno ."
      "uno tres"
      "uno .";
  }
  
  .tres { grid-area: tres; }
  
  .uno { grid-area: uno; }
/*letras*/
.input {
    border: none;
    border-radius: 15px;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 15px;
    background-color: #e8e8e8;
    box-shadow: 6px 6px 12px #ffffff,
                -6px -6px 12px #c5c5c5;
    font-size: medium;
    font-weight: bold;
    max-width: 200px;
   }
   
   .input:focus {
    outline-color: white;
    place-content: "Enter your message!";
   }