<app-header></app-header> {{ equipoActual | json }} foto wea: {{ fotoMostrar }}
<br />
jugadores: <br />
{{ listaJugadores | json }}
<!---->
<div class="container">
  <div class="uno">
    <label type="text" name="text" class="input"
      >Nombre del delegado: {{ equipoActual?.nombreEquipo }}</label
    >
    <br /><br />
    <label type="text" name="text" class="input"
      >Nombre del equipo: {{ equipoActual?.paisEquipo }}</label
    >
    <br /><br />
    <label type="text" name="text" class="input"
      >Nombre del equipo: {{ equipoActual?.nombreCategoria }}</label
    >
    <br /><br />
    <label type="text" name="text" class="input"
      >Nombre del equipo: {{ equipoActual?.nombreEquipo }}</label
    >
    <br /><br />
    <label type="text" name="text" class="input"
      >Nombre del equipo: {{ equipoActual?.nombreEquipo }}</label
    >
    <br /><br />
    <label type="text" name="text" class="input"
      >Nombre del equipo: {{ equipoActual?.nombreEquipo }}</label
    >
    <br /><br />
  </div>
  <div class="tres">
    <label type="text" name="text" class="input">Nombre del equipo</label>
  </div>
</div>

<app-footer></app-footer>
