<app-header></app-header>
{{ equipoActual | json }}  foto wea: {{ fotoMostrar }}
<!---->
<div class="container">
    <div class="uno">
        
        <label type="text" name="text" class="input" >nombre del Delegado: {{ equipoActual?.nombreEquipo}}</label>
        <br><br>
        <label type="text" name="text" class="input" >nombre del equipo: {{ equipoActual?.paisEquipo}}</label>
        <br><br>
        <label type="text" name="text" class="input" >nombre del equipo: {{ equipoActual?.nombreCategoria}}</label>
        <br><br>
        <label type="text" name="text" class="input" >nombre del equipo: {{ equipoActual?.nombreEquipo}}</label>
        <br><br>
        <label type="text" name="text" class="input" >nombre del equipo: {{ equipoActual?.nombreEquipo}}</label>
        <br><br>
        <label type="text" name="text" class="input" >nombre del equipo: {{ equipoActual?.nombreEquipo}}</label>
        <br><br>
    </div>
    <div class="tres">
        <label type="text" name="text" class="input" >nombre del Equipo</label>
    </div>
    
  </div>





<app-footer></app-footer>