<app-header></app-header> {{ equipoActual | json }} foto wea: {{ fotoMostrar }}
<br />
jugadores: <br />
{{ listaJugadores | json }}
<!---->
<div class="container">
  <div class="uno">
    <label type="text" name="text" class="input"
      >Nombre del equipo: {{ equipoActual?.nombreEquipo }}</label
    >
    <br /><br />
    <label type="text" name="text" class="input"
      >Nombre del delegado: {{ equipoActual?.nombreDelegado }}</label
    >
    <br /><br />
    <label type="text" name="text" class="input"
      >Categoria del equipo: {{ equipoActual?.nombreCategoria }}</label
    >
    <br /><br />
    <label type="text" name="text" class="input"
      >Pais del equipo: {{ equipoActual?.paisEquipo }}</label
    >
    <br /><br />
    <label type="text" name="text" class="input"
      >Color del equipo: {{ equipoActual?.colorCamisetaPrincipal }}</label
    >
    <br /><br />
    <label type="text" name="text" class="input"
      >Color alternativo del equipo: {{ equipoActual?.colorCamisetaSecundario }}</label
    >
    <br /><br />
  </div>
  <div class="tres">
    <img [src]="fotoMostrar" />
    <label type="text" name="text" class="input"
      >Logo del equipo</label
    >
  </div>
</div>
<br>
<app-footer></app-footer>
