<app-header></app-header>

<div class="modal-footer">
    
  <a class="atras" (click)="atras()"><img src="../../../assets/Imagenes/atrasoficial.png" height="70" width="70" alt="Botón"> </a>
  
</div>
<div class="container">
  <div class="uno">
    <label type="text" name="text" class="input"
      >nombre del Delegado: {{ preinscripcionActual?.nombreEquipo }} <hr></label
    >
   

    <!--INPUT email-->

    <label type="text" name="text" class="input"
      >Email: {{ preinscripcionActual?.correoDelegado }}<hr></label
    >
    

    <!--INPUT nombreequipo-->

    <label type="text" name="text" class="input"
      >Nombre del equipo: {{ preinscripcionActual?.nombreEquipo }}<hr></label
    >
   

    <!--INPUT PAIS-->

    <label type="text" name="text" class="input"
      >País: {{ preinscripcionActual?.paisEquipo }}<hr></label
    >
   

    <!--INPUT categorias-->

    <label type="text" name="text" class="input"
      >Categoría: {{ preinscripcionActual?.nombreCategoria }}<hr></label
    >
  
 
    <!--INPUT nro de comprobante-->

    <label type="text" name="text" class="input"
      >Nro de comprobante de pago:
      {{ preinscripcionActual?.nroComprobante }}<hr></label
    > </div>
   

    <!--INPUT monto de pago-->
    <div class="dos">
    <label type="text" name="text" class="input"
      >Monto de pago: {{ preinscripcionActual?.montoPago }}<hr></label
    >
    

    <br />
    <!--imagen voucher-->

    <label type="text" name="text" class="input"
      >Comprobante de pago:
      <a href="{{ preinscripcionActual?.voucherPreinscripcion }}">
        ver imagen<hr></a
      >
    </label>
    

    <!-- <div
          *ngIf="submitted"
          class="text-danger"
        >
          <div *ngIf="form.voucherPreinscripcion.errors?.required">
            Por favor, suba el comprobante
          </div>
        </div> -->
    
    <!--INPUT agregar fecha-->

    <label type="text" name="text" class="input"
      >Fecha de pago: {{ preinscripcionActual?.fechaPreinscripcion }}<hr></label
    >
  </div>

  <div class="tres">
    <img
    class="tres img"
    [src]="preinscripcionActual?.voucherPreinscripcion"
    [alt]="preinscripcionActual.voucherPreinscripcion"
    />
  </div>
</div>



<app-footer></app-footer>
