.container {  display: grid;
  grid-template-columns: 0.1fr 1.9fr 1.1fr 1.5fr 0.1fr;
  grid-template-rows: 0.8fr 1fr 1fr 0.4fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". uno tres tres ."
    ". uno tres tres ."
    ". uno dos dos ."
    ". uno dos dos .";
}

.dos { grid-area: dos; }

.tres { grid-area: tres; }

.uno { grid-area: uno; 
}
.tres .img{
  width: 250px;
  height: 250px;
}

  hr { background-color: rgb(0, 0, 0); border: 0 none; color: rgb(0, 0, 0); height: 5px; }
  
  
/*letras*/

.input {
    width: 80%;
  border: none;
  border-radius: 15px;
  padding: 8.9px;
  
  
  font-size: large;
  font-weight: bold;
  max-width: 100%;
  max-height: 100%;
  
 }
 hr { background-color: rgb(0, 0, 0); border: 0 none; color: rgb(0, 0, 0); height: 5px; margin-bottom: 2%;}
 .atras{
  position: relative;
  cursor: pointer;
right: 82%;
}


   
   