<app-header></app-header>


{{ preinscripcionAprob | json }} -->

<div class="container">
  <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
    <h3>Inscripción de equipo</h3>

    <!--INPUT nombre delegado-->
    <div class="inputnombreDelegado">
      <label
        for="inputnombreDelegado"
        class="nombreDelegado col-sm-2 col-form-label"
        >Nombre delegado:</label
      >
      <label
        >{{ preinscripcionAprob?.nombreDelegado }}
        {{ preinscripcionAprob?.apellidoDelegado }}
      </label>
    </div>
    <!--INPUT nombreequipo-->
    <div class="inputnombreEquipo">
      <label
        for="inputnombreEquipo"
        class="nombreEquipo col-sm-2 col-form-label"
        >Nombre del equipo:</label
      >
      <label>{{ preinscripcionAprob?.nombreEquipo }}</label>
    </div>
    <!--categoria-->
    <div class="inputcategoria">
      <label for="inputcategoria" class="categoria col-sm-2 col-form-label"
        >Categoria:</label
      >
      <label>{{ preinscripcionAprob?.nombreCategoria }} </label>
    </div>
    <!--INPUT colorEquipo-->
    <div class="mb-3 row">
      <label for="inputcolorEquipo" class="colorEquipo col-sm-2 col-form-label"
        >Color de camiseta:</label
      >
      <div class="col-sm-10">
        <input
          type="text"
          ngModel
          maxlength="50"
          placeholder="Ingrese el color de camiseta"
          formControlName="colorCamisetaPrincipal"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              form.colorCamisetaPrincipal.invalid &&
              form.colorCamisetaPrincipal.touched
          }"
        />

        <div
          *ngIf="
            (form.colorCamisetaPrincipal.touched && form.colorCamisetaPrincipal.invalid) || submitted
          "
          class="text-danger"
        >
          <div *ngIf="form.colorCamisetaPrincipal.errors?.required">
            no puede estar vacio
          </div>
        </div>
        <div
          class="text-danger"
          *ngIf="
            colorCamisetaPrincipal.value != '' &&
            colorCamisetaPrincipal.invalid &&
            colorCamisetaPrincipal.touched
          "
        >
          Por favor, ingrese caracteres válidos
        </div>
      </div>
    </div>
    <!--INPUT ALTERNATIVOcolorEquipo-->
    <div class="mb-3 row">
      <label
        for="inputcolorsecundarioEquipo"
        class="colorSecundario col-sm-2 col-form-label"
        >Color de camiseta secundario:</label
      >
      <div class="col-sm-10">
        <input
          type="text"
          ngModel
          maxlength="50"
          placeholder="Ingrese el color de camiseta"
          formControlName="colorCamisetaSecundario"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              form.colorCamisetaSecundario.invalid &&
              form.colorCamisetaSecundario.touched
          }"
        />

        <div
          *ngIf="
            (form.colorCamisetaSecundario.touched && form.colorCamisetaSecundario.invalid) || submitted
          "
          class="text-danger"
        >
          <div *ngIf="form.colorCamisetaSecundario.errors?.required">
            no puede estar vacio
          </div>
        </div>
        <div
          class="text-danger"
          *ngIf="
            colorCamisetaSecundario.value != '' &&
            colorCamisetaSecundario.invalid &&
            colorCamisetaSecundario.touched
          "
        >
          Por favor, ingrese caracteres válidos
        </div>
      </div>
    </div>
    <!--imagen logo-->
    <label class="logo form-label">Logo del equipo:</label>
    <input
      type="file"
      name="logoEquipo"
      id="logoEquipo"
      accept="image/*"
      (change)="onFileSelected($event)"
      required
    />
    <br /><br />

    {{ mensajeError | json }}

    <!--INPUT subir-->
    <div class="text-center">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Registrar
      </button>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Para que el registro sea exitoso haga click en Registrar
                <br>
                Para seguir con el registro haga click en volver
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
              <button class="btn btn-primary mr-1">Registrar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<app-footer></app-footer>
