
<app-header></app-header>
<app-navar></app-navar>

<div class="container">
  <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
    <h3>Inscripcion de equipo</h3>
    

    <!--INPUT nombre delegado-->
    <div class="mb-3 row">
    <label for="inputnombreDelegado" class="col-sm-2 col-form-label">Nombre delegado:</label>
    <div class="col-sm-10">
    <input
      type="text"
      ngModel maxlength="50"
      formControlName="nombreDelegado"
      class="form-control"
      [ngClass]="{
        'is-invalid': form.nombreDelegado.invalid && form.nombreDelegado.touched
      }"
    />
    <div
      *ngIf="form.nombreDelegado.invalid && form.nombreDelegado.touched"
      class="invalid-feedback"
    >
      Este campo no puede estar vacio.
    </div>
  </div>
</div>

<!--INPUT nombreequipo-->
    <div class="mb-3 row">
    <label for="inputnombreEquipo" class="col-sm-2 col-form-label">Nombre del equipo:</label>
    <div class="col-sm-10">
    <input
      type="text"
      formControlName="nombreEquipo"
      class="form-control"
      [ngClass]="{
        'is-invalid': form.nombreEquipo.invalid && form.nombreEquipo.touched
      }"
      
      
    />
    <div
      *ngIf="form.nombreEquipo.invalid && form.nombreEquipo.touched"
      class="invalid-feedback"
    >
    Este campo no puede estar vacio.

    
    </div>
  </div>
</div>


    <!--INPUT Categorias-->
    <div class="mb-3 row">
    <label for="categorias" class="col-sm-2 col-form-label form-label">Categoria:</label>
    <div class="col-sm-10">   
    <select
      name="categorias"
      id="categorias"
      class="form-select form-select-sm"
      formControlName="categorias"
    >
      <option value="+35">mayores de 35</option>
      <option value="+45">mayores de 45</option>
      <option value="+55">mayores de 55</option>
    </select>
    <div
    *ngIf="(form.categorias.touched && form.categorias.invalid) || submitted"
    class="text-danger"
  >
    <div *ngIf="form.categorias.errors?.required">
      Elija una de las opciones
    </div>
  </div>
</div>
</div>

    <!--INPUT PAIS-->
    <div class="mb-3 row">
    <label class="col-sm-2 col-form-label form-label">Pais:</label>
    <div class="col-sm-10">
    <select
      class="form-control"
      name="paisEquipo"
      formControlName="paisEquipo"
      required
    >
      <option value="" disabled>Seleccionar pais</option>
      <option *ngFor="let pais of paises" [value]="pais.value">
        {{ pais.name }}
      </option>
    </select>
    <div
      *ngIf="(form.paisEquipo.touched && form.paisEquipo.invalid) || submitted"
      class="text-danger"
    >
      <div *ngIf="form.paisEquipo.errors?.required">
        Elija una de las opciones
      </div>
    </div>
  </div>
</div>
<br>
 
    <!--INPUT subir-->
    <div class="text-center">
      <button class="btn btn-primary mr-1" [disabled]="registerForm.invalid">
        Inscribir equipo
      </button>
    </div>
  </form>
</div>




<app-footer></app-footer>
