.container{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
h3{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 23px;
    font-weight: bold;
    color: rgba(243, 70, 2, 0.842);
}
button{
    width: 200px;
    height: 50px;
}
select{
    
    width: 80%;
}
.atras{
    position: relative;
    cursor: pointer;
  right: 82%;
}
.nombreDelegado{
    font-weight: bold; 
}
.nombreEquipo{
    font-weight: bold; 
}
.categoria{
    font-weight: bold; 
}
.colorEquipo{
    font-weight: bold; 
}
.colorSecundario{
    font-weight: bold; 
}
.logo{
    font-weight: bold; 
}
