<app-header></app-header>
<body>
  <div class="modal-footer">
    
    <a class="atras" (click)="atras()"><img src="../../../assets/Imagenes/atrasoficial.png" height="70" width="70" alt="Botón"> </a>
    
  </div>
  <!--{{ listaJugadores | json }} 
  <!--
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="table-responsive">
          <table class="mt-4 table table-hover table-striped table-secondary">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombres</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Nacionalidad</th>
                <th scope="col">Posición</th>
                <th scope="col">Edad</th>
                <th scope="col">Talla</th>
                <th scope="col">Nro Camiseta</th>
                <th scope="col">Foto jugador</th>
                <th scope="col">Foto carnet</th>
                <th scope="col">Eliminar jugador</th>
              </tr>
            </thead>
            <tbody>
              <tr></tr>
              <tr *ngFor="let jugador of listaJugadores">
                <th scope="row">{{ jugador.id }}</th>
                <td>{{ jugador.nombreJugador }}</td>
                <td>{{ jugador.apellidoJugador }}</td>
                <td>{{ jugador.nacionalidadJugador }}</td>
                <td>{{ jugador.posicionJugador }}</td>
                <td>{{ jugador.edadJugador }}</td>
                <td>{{ jugador.tallaJugador }}</td>
                <td>{{ jugador.numeroCamiseta }}</td>
  
                <td>{{ jugador.fotoPerfilJugador }}</td>
                <td>{{ jugador.fotoCiJugador }}</td>
  -->

  <br />

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Position Column 
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
        No.
      </th>
      <td mat-cell *matCellDef="let equipo of listaEquipos"> {{equipo.nombreEquipo}} </td>
    </ng-container>
  -->
    <!-- Name Column -->
    <ng-container matColumnDef="nombreJugador">
      <th
        mat-header-cell
        *matHeaderCellDef
        sortActionDescription="Sort by nombreJugador"
      >
        Nombres
      </th>
      <td mat-cell *matCellDef="let jugador">
        {{ jugador.nombreJugador }}
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="apellidoJugador">
      <th
        mat-header-cell
        *matHeaderCellDef
        sortActionDescription="Sort by apellidoJugador"
      >
        Apellidos
      </th>
      <td mat-cell *matCellDef="let jugador">
        {{ jugador.apellidoJugador }}
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="numeroCi">
      <th
        mat-header-cell
        *matHeaderCellDef
        sortActionDescription="Sort by numeroCi"
      >
        Documento de Identidad
      </th>
      <td mat-cell *matCellDef="let jugador">
        {{ jugador.ciJugador }}
      </td>
    </ng-container>
    <!-- Name Column -->
    <!-- Name Column -->
    <ng-container matColumnDef="vermas">
      <th mat-header-cell *matHeaderCellDef>Ver mas información</th>
      <td mat-cell *matCellDef="let jugador">
        <a [routerLink]="['/infojugador/', jugador.ciJugador]">
          <button>Ver más información</button>
        </a>
      </td>
    </ng-container>

    <!--<a
          [routerLink]="['/eliminarjugador/', jugador.idEquipo]"
          (click)="eliminarJugador(jugador.ciJugador)"
        >
          eliminar
        </a>-->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <ng-container *ngIf="dataSource.data.length === 0">
    <p>No tiene jugadores registrados en este equipo</p>
  </ng-container>

  <br />
</body>
