<app-header></app-header>
<body>
{{ listaPreinscripciones | json }} -->

<table
  mat-table
  [dataSource]="dataSource"
  matSort
  *ngIf="dataSource.data.length > 0"
  (matSortChange)="announceSortChange($event)"
  class="mat-elevation-z8"
>
  <!-- Position Column 
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
      No.
    </th>
    <td mat-cell *matCellDef="let equipo of listaEquipos"> {{equipo.nombreEquipo}} </td>
  </ng-container>
-->
  <!-- Name Column -->
  <ng-container matColumnDef="nombreEquipo">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by nombreEquipo"
    >
      Nombre equipo
    </th>
    <td mat-cell *matCellDef="let equipo">
      {{ equipo.nombreEquipo }}
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="idCategoria">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by idCategoria"
    >
      Categoría
    </th>
    <td mat-cell *matCellDef="let equipo">
      {{ equipo.idCategoria }}
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="urlinscripcion">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by urlequipo"
    >
      Inscribir
    </th>
    <td mat-cell *matCellDef="let equipo">
      <button>
        <span
          ><a
            class="nav-link"
            [routerLink]="['/registrarequipo/', equipo.idPreinscripcion]"
          >
            Inscribir</a
          ></span
        >
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<ng-container *ngIf="dataSource.data.length === 0">
  <p>No tienes preinscripciones de equipo aprobadas</p>
</ng-container>

</body>
<app-footer></app-footer>
