.container {  display: grid;
  grid-template-columns: 0.1fr 2fr 0.5fr 2fr 0.4fr;
  grid-template-rows: 0.2fr 1.7fr 1.5fr 1.2fr 0.7fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . . ."
    ". tres . uno ."
    ". dos . cuatro ."
    ". cinco . seis ."
    
}

.tres { grid-area: tres; }

.uno { grid-area: uno; }

.dos { grid-area: dos; }

.cuatro { grid-area: cuatro; }

.cinco { grid-area: cinco; }

.seis { grid-area: seis; }


  /*botones*/
  button {
    font-size: 230%;
    width: 100%;
    padding: 10% 20%;
    background-color: #000;
    border: 3px solid yellow;
    border-radius: 1em;
    color: #fff;
    font-weight: bolder;
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
    box-shadow: -5px 5px 0px 0px yellow;
    
  }
  
  button:hover {
    transform: translate(5px, -5px);
  }
  .atras{
    position: relative;
    cursor: pointer;
  right: 80%;
}