<app-header></app-header> <br /><br /><br /><br /><br />
<div class="container">
  <div class="uno">
    <a href="/listajugadores/{{ id }}"> <button>Lista de Jugadores</button></a>
  </div>
  <div class="dos">
    <a href="/eliminarjugador/{{ id }}"> <button>Eliminar Jugadores</button></a>
  </div>
  <div class="tres">
    <a href="/miequipo/{{ id }}"> <button>Información General</button></a>
  </div>

  <div class="cuatro">
    <a href="/inscripcion/{{ id }}"> <button>Inscribir Jugadores</button></a>
  </div>

  <div class="cinco">
    <a href="/credencial/{{ id }}"> <button>Credenciales</button></a>
  </div>
</div>

<br /><br /><br /><br /><br />

<app-footer></app-footer>
