<app-header></app-header>
<br><br><br><br><br>
<div class="container">

  <div class="uno">
    <a href="/inscripcion">  <button> inscribir equipos</button></a>
  </div>
  <div class="dos">
    <a href="/inscripcion">  <button> inscribir equipos</button></a>
  
</div>
  <div class="tres">
    <a href="/inscripcion">  <button> inscribir equipos</button></a>
  </div>
  
  <div class="cuatro">
    <a href="/inscripcion">  <button> inscribir equipos</button></a>
  </div>
  
  <div class="cinco">
    <a href="/inscripcion">  <button> inscribir equipos</button></a>
  </div>
</div>




<br><br><br><br><br>

<app-footer></app-footer>