<app-header></app-header> 
<div class="modal-footer">
    
  <a class="atras" (click)="atras()"><img src="../../../assets/Imagenes/atrasoficial.png" height="70" width="70" alt="Botón"> </a>
  
</div>
<div class="container">
  <div class="uno">
    <a href="/listajugadores/{{ id }}">
      <button>Información de Jugadores</button></a
    >
  </div>
  <div class="dos">
    <a href="/eliminarjugador/{{ id }}"> <button>Eliminar Jugadores</button></a>
  </div>
  <div class="tres">
    <a href="/miequipo/{{ id }}"> <button>Información General</button></a>
  </div>

  <div class="cuatro">
    <a href="/inscripcion/{{ id }}"> <button>Inscribir Jugadores</button></a>
  </div>
  <div class="seis">
    <a href="/credencialinterna/{{ id }}"> <button>Credenciales</button></a>
  </div> 

  <div class="cinco">
    <a href="/credencial/{{ id }}"> <button>Descargar Credenciales </button></a>
  </div>
  
</div>




<app-footer></app-footer>
