<app-header></app-header>
{{ listapre | json }}
<table
  mat-table
  [dataSource]="dataSource"
  matSort
  (matSortChange)="announceSortChange($event)"
  class="mat-elevation-z8"
>
  <!-- Name Column -->
  <ng-container matColumnDef="nombreEquipo">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by nombreEquipo"
    >
      Nombre del equipo
    </th>
    <td mat-cell *matCellDef="let listapre">{{ listapre.nombreEquipo }}</td>
  </ng-container>

  <!-- estado Column -->
  <ng-container matColumnDef="habilitado">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by habilitado"
    >
      Estado actual
    </th>
    <td mat-cell *matCellDef="let listapre">{{ listapre.habilitado }}</td>
  </ng-container>

  <!--eliminar-->>
  <ng-container matColumnDef="eliminarPreinscricion">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by numeroCi"
    >
      Eliminar jugador
    </th>
    <td mat-cell *matCellDef="let listapre">
      <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        (click)="eliminarPreinscripcion(listapre.idPreinscripcion)"
        data-bs-target="#staticBackdrop"
      >
        Eliminar
      </button>

      <!-- Modal -->
      <div
        class="modal fade"
        id="staticBackdrop"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">
                Eliminar Preinscripción
              </h1>
            </div>
            <div class="modal-body">Su Preinscripción fue eliminada</div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-primary"
                [routerLink]="[
                  '/eliminarpredelegado/',
                  listapre.idPreinscripcion
                ]"
                onclick="location.reload()"
              >
                aceptar
              </button>
            </div>
          </div>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
