<app-header></app-header>

<head>
  <meta charset="UTF-8" />
  <!--<title> Login and Registration Form in HTML & CSS | CodingLab </title>-->

  <!-- Fontawesome CDN Link -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <div class="container">
    <input type="checkbox" id="flip" />
    <div class="cover">
      <div class="front">
        <img src="../../../assets/Imagenes/loginpic.jpg" alt="" />
      </div>
    </div>
    <div class="forms">
      <div class="form-content">
        <div class="login-form">
          <h2 class="head py-2">Login</h2>
          <form
            class="user-login"
            [formGroup]="loginForm"
            (ngSubmit)="onLogin()"
          >
            <div class="input-box">
              <label>Correo</label>
              <i class="fas fa-user"></i>
              <input
                type="email"
                class="form mb-2"
                id="inputEmail"
                formControlName="email"
                placeholder="Ingrese su correo"
              />
              <!-- <small id="emailHelp" class="form-text text-muted ml-2">We'll never share your email with anyone else.</small> -->
              <div *ngIf="submitted" class="text-danger">
                <div *ngIf="form.email.errors.email">
                  Este correo es invalido
                </div>
                <div *ngIf="form.email.errors.required">
                  El correo es requerido
                </div>
              </div>
            </div>
            <div class="input-box">
              <label>Password</label>
              <i class="fas fa-envelope"></i>
              <input
                type="password"
                class="form-control mb-2"
                id="inputPassword"
                formControlName="password"
                placeholder="Enter Password"
              />
              <div *ngIf="submitted" class="text-danger">
                <div *ngIf="form.password.errors.required">
                  Password is required.
                </div>
                <div *ngIf="form.password.errors.pattern">
                  <!-- <h3>Password must contain the following:</h3> -->
                  <ul>
                    <li>Password should be alphanumeric</li>
                    <li>A letter of the password should be capital</li>
                    <li>
                      Password must contain a special character (@, $, !, &,
                      etc)
                    </li>
                    <li>Password length must be greater than 7 characters</li>
                  </ul>
                </div>
              </div>
            </div>

            <br />
            <div class="buttons text-center">
              <button class="btn-customBlue mr-2" type="submit">Login</button>
            </div>
            <div class="text sign-up-text">
              No tienes una cuenta? <label for="flip">Registrate ahora</label>
            </div>
          </form>
        </div>

        <div class="signup-form">
          <div class="title">Registrate

            <app-registerdelegado></app-registerdelegado>
          </div>
          <!--<form action="#">
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="Ingrese su nombre completo" required>
              </div>
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="text" placeholder="Ingrese su correo electronico" required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Ingrese su contraseña" required>
              </div>
              <div class="button input-box">
                <input type="submit" value="Sumbit">
              </div>
              <div class="text sign-up-text">Ya tiene una cuenta? <label for="flip">Inicia sesion ahora</label></div>
            </div>
      </form>-->

          
        </div>
      </div>
    </div>
  </div>
</body>

<app-footer></app-footer>
