

  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/preinscripcion">Ficha de preinscripcion</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/registrarequipo">Registro equipo</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/inscripcion">Registro de jugadores</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/registro-control-partido">Registro control de partido</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/credencial">Credencial jugador</a>
    </li>
  </ul>
 