<app-header></app-header>

<mat-grid-list cols="3" rowHeight="2:1" id="credencial">
    <mat-grid-tile>
        <div class="card">
            <div class="card-border-top">
            </div>
            <div class="img">
            </div>
            <span> Person</span>
            <p class="job"> Job Title</p>
            <button> Click
            </button>
          </div>
    </mat-grid-tile>
    <br>
    <mat-grid-tile><div class="card">
        <div class="card-border-top">
        </div>
        <div class="img">
        </div>
        <span> Person</span>
        <p class="job"> Job Title</p>
        <button> Click
        </button>
      </div></mat-grid-tile>
      <br>
    <mat-grid-tile><div class="card">
        <div class="card-border-top">
        </div>
        <div class="img">
        </div>
        <span> Person</span>
        <p class="job"> Job Title</p>
        <button> Click
        </button>
      </div></mat-grid-tile><br>
    <mat-grid-tile><div class="card">
        <div class="card-border-top">
        </div>
        <div class="img">
        </div>
        <span> Person</span>
        <p class="job"> Job Title</p>
        <button> Click
        </button>
      </div></mat-grid-tile><br>
      <mat-grid-tile>
        <div class="card">
            <div class="card-border-top">
            </div>
            <div class="img">
            </div>
            <span> Person</span>
            <p class="job"> Job Title</p>
            <button> Click
            </button>
          </div>
    </mat-grid-tile>
    <br>
    <mat-grid-tile><div class="card">
        <div class="card-border-top">
        </div>
        <div class="img">
        </div>
        <span> Person</span>
        <p class="job"> Job Title</p>
        <button> Click
        </button>
      </div></mat-grid-tile>
      <br>
    <mat-grid-tile><div class="card">
        <div class="card-border-top">
        </div>
        <div class="img">
        </div>
        <span> Person</span>
        <p class="job"> Job Title</p>
        <button> Click
        </button>
      </div></mat-grid-tile><br>
    <mat-grid-tile><div class="card">
        <div class="card-border-top">
        </div>
        <div class="img">
        </div>
        <span> Person</span>
        <p class="job"> Job Title</p>
        <button> Click
        </button>
      </div></mat-grid-tile><br>
      
  </mat-grid-list>

  
  <button (click)="downloadPDF()">crear pdf</button>



<app-footer></app-footer>