<app-header></app-header>
<div class="modal-footer">
  <a class="atras" (click)="atras()"><img src="../../../assets/Imagenes/atrasoficial.png" height="70" width="70" alt="Botón"> </a>
  
</div>
<!--{{ equipoActual | json }} foto wea: {{ fotoMostrar }}
<br />
jugadores: <br />
{{ listaJugadores | json }}
-->
<div class="container">
  <div class="uno">
    <label type="text" name="text" class="input"
      >  Nombre del equipo: {{ equipoActual?.nombreEquipo }} <hr></label
    >
    <br /><br />
    <label type="text" name="text" class="input"
      >Nombre del delegado: {{ equipoActual?.nombreDelegado }}<hr></label
    >
    <br /><br />
    <label type="text" name="text" class="input"
      >Categoría del equipo: {{ equipoActual?.nombreCategoria }}<hr></label
    >
    <br /><br />
    <label type="text" name="text" class="input"
      >País del equipo: {{ equipoActual?.paisEquipo }}<hr></label
    >
    <br /><br />
    <label type="text" name="text" class="input"
      >Color del equipo: {{ equipoActual?.colorCamisetaPrincipal }}<hr></label
    >
    <br /><br />
    <label type="text" name="text" class="input"
      >Color alternativo del equipo:
      {{ equipoActual?.colorCamisetaSecundario }}<hr></label
    >
    <br /><br />
  </div>
  <div class="tres">
    <img [src]="fotoMostrar" />
    <label type="text" name="text" class="input">Logo del equipo</label>
  </div>
</div>

<app-footer></app-footer>
