
<app-header></app-header>
<app-navar></app-navar>

<div class="container">
  <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
    <h3>Preinscripcion</h3>

    <!--INPUT nombre delegado-->
    <label>Nombre delegado:</label>
    <input
      type="text"
      ngModel maxlength="50"
      formControlName="nombreDelegado"
      class="form-control"
      [ngClass]="{
        'is-invalid': form.nombreDelegado.invalid && form.nombreDelegado.touched
      }"
    />
    <div
    *ngIf="(form.nombreDelegado.touched && form.nombreDelegado.invalid) || submitted"
    class="text-danger"
  >
    <div *ngIf="form.nombreDelegado.errors?.required">
      Este campo no puede estar vacio.
    </div>
  </div>


<!--INPUT nombreequipo-->
    <label>Nombre del equipo:</label>
    <input
      type="text"
      formControlName="nombreEquipo"
      class="form-control"
      [ngClass]="{
        'is-invalid': form.nombreEquipo.invalid && form.nombreEquipo.touched
      }"
      
      
    />
    <div
    *ngIf="(form.nombreEquipo.touched && form.nombreEquipo.invalid) || submitted"
    class="text-danger"
  >
    <div *ngIf="form.nombreEquipo.errors?.required">
      Este campo no puede estar vacio.
    </div>
  </div>

   <!--INPUT email-->

    <label>Email:</label>
    <input
      type="text"
      formControlName="email"
      class="form-control"
      [ngClass]="{ 'is-invalid': form.email.invalid && form.email.touched }"
    />
    
<div
    *ngIf="(form.email.touched && form.email.invalid) || submitted"
    class="text-danger"
  >
  <div *ngIf="form.email.errors?.required">Este campo no puede estar vacio.</div>
  <div *ngIf="form.email.errors?.email">El email debe de ser válido</div>
  </div>


    <!--INPUT Categorias-->

    <label for="categorias" class="form-label">Categoria:</label>
    <select
      name="categorias"
      id="categorias"
      class="form-select form-select-sm"
      formControlName="categorias"
    >
      <option value="+35">mayores de 35</option>
      <option value="+45">mayores de 45</option>
      <option value="+55">mayores de 55</option>
    </select>
    <div
    *ngIf="(form.categorias.touched && form.categorias.invalid) || submitted"
    class="text-danger"
  >
    <div *ngIf="form.categorias.errors?.required">
      Elija una de las opciones
    </div>
  </div>


    <!--INPUT PAIS-->

    <label class="form-label">Pais:</label>
    <select
      class="form-control"
      name="paisEquipo"
      formControlName="paisEquipo"
      required
    >
      <option value="" disabled>Seleccionar pais</option>
      <option *ngFor="let pais of paises" [value]="pais.value">
        {{ pais.name }}
      </option>
    </select>
    <div
      *ngIf="(form.paisEquipo.touched && form.paisEquipo.invalid) || submitted"
      class="text-danger"
    >
      <div *ngIf="form.paisEquipo.errors?.required">
        Elija una de las opciones
      </div>
    </div>
<br>
    <label class="form-label">Voucher de pago:</label>
    <input
      type="file"
      name="imagen"
      id="imagen"
      formControlName="imagen"
      accept="image/*"
      required
    />
    <div
      *ngIf="(form.imagen.touched && form.imagen.invalid) || submitted"
      class="text-danger"
    >
      <div *ngIf="form.imagen.errors?.required">
        Por favor, suba el comprobante
      </div>
    </div>
<br><br>
    <!--INPUT agregar fecha-->
    <label class="form-label">Fecha:</label>
    <input
      type="date"
      name="fecha"
      id="fecha"
      formControlName="fecha"
      min="2022-01-01"
      max="2022-12-31"
      required
    />
   

    <!--INPUT subir-->
    <div class="text-center">
      <button class="btn btn-primary mr-1" >
        Registrarse
      </button>
      <button class="btn btn-secondary" type="reset" (click)="onReset()">
        Cancel
      </button>
    </div>
  </form>
</div>
<app-footer></app-footer>