<app-header></app-header>
<app-navar></app-navar>

<div class="container">
  <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
    <h3>Preinscripción</h3>
    <!--INPUT nombre delegado-->

    <!--categorias <br />
    {{ listaEquipos | json }} <br />
    {{ listaCategorias | json }} <br />
    paises <br />
    {{ listaPaises | json }} <br />
    -->

    <div class="mb-3 row">
      <label for="inputnombreDelegado" class="col-sm-2 col-form-label"
        >Nombre delegado:</label
      >
      <div class="col-sm-10">
        <input
          type="text"
          ngModel
          maxlength="50"
          placeholder="Ingrese su nombre"
          formControlName="nombreDelegado"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              form.nombreDelegado.invalid && form.nombreDelegado.touched
          }"
        />

        <div
          class="text-danger"
          *ngIf="nombreDelegado.errors?.required && nombreDelegado.touched"
        >
          Este campo no puede estar vacio.
        </div>
        <div
          class="text-danger"
          *ngIf="
            nombreDelegado.value != '' &&
            nombreDelegado.invalid &&
            nombreDelegado.touched
          "
        >
          Por favor, ingresa caracteres validos
        </div>
      </div>
    </div>

    <!--INPUT nombreequipo-->
    <div class="mb-3 row">
      <label for="inputnombreEquipo" class="col-sm-2 col-form-label"
        >Nombre del equipo:</label
      >
      <div class="col-sm-10">
        <input
          type="text"
          ngModel
          formControlName="nombreEquipo"
          maxlength="50"
          placeholder="Ingrese nombre del equipo"
          class="form-control"
          [ngClass]="{
            'is-invalid': form.nombreEquipo.invalid && form.nombreEquipo.touched
          }"
        />
        <div
          class="text-danger"
          *ngIf="nombreEquipo.errors?.required && nombreEquipo.touched"
        >
          Este campo no puede estar vacio.
        </div>
        <div
          class="text-danger"
          *ngIf="
          nombreEquipo.value != '' &&
          nombreEquipo.invalid &&
          nombreEquipo.touched
          "
        >
          Por favor, ingresa caracteres validos
        </div>
      </div>
    </div>

    <!--INPUT email-->
    <div class="mb-3 row">
      <label for="inputemail" class="col-sm-2 col-form-label"> Email:</label>
      <div class="col-sm-10">
        <input
          type="text"
          placeholder="Ingrese su email"
          formControlName="emailDelegado"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              form.emailDelegado.invalid && form.emailDelegado.touched
          }"
        />

        <div
          *ngIf="
            (form.emailDelegado.touched && form.emailDelegado.invalid) ||
            submitted
          "
          class="text-danger"
        >
          <div *ngIf="form.emailDelegado.errors?.required">
            Este campo no puede estar vacio.
          </div>
          <div *ngIf="form.emailDelegado.errors?.email">
            El email debe de ser válido
          </div>
        </div>
      </div>
    </div>
  
    <br />
    <!--imagen voucher-->
    <label class="form-label">Voucher de pago:</label>
    <input
      type="file"
      name="voucherPreinscripcion"
      id="voucherPreinscripcion"
      accept="image/*"
      (change)="onFileSelected($event)"
      required
    />
    <!-- <div
      *ngIf="submitted"
      class="text-danger"
    >
      <div *ngIf="form.voucherPreinscripcion.errors?.required">
        Por favor, suba el comprobante
      </div>
    </div> -->
    <br /><br />
    <!--INPUT agregar fecha-->
    <label class="form-label">Fecha:</label>
    <input
      type="date"
      name="fechaPreinscripcion"
      id="fechaPreinscripcion"
      formControlName="fechaPreinscripcion"
      min="2022-01-01"
      max="2022-12-31"
      required
    />

    <!--INPUT subir-->
    <div class="text-center">
      <button class="btn btn-primary mr-1">Registrarse</button>

      <button class="btn btn-secondary" type="reset" (click)="onReset()">
        Cancelar
      </button>
    </div>
  </form>
</div>

<app-footer></app-footer>
