.container{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 15px;
}
h3{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 23px;
    font-weight: bold;
    color: rgba(243, 70, 2, 0.842);
}
.atras{
    position: relative;
    
  right: 100%;
}
.nombreDelegado{
    font-weight: bold; 
}
.email{
    font-weight: bold;
}
.nombreEquipo{
    font-weight: bold;
}
.pais{
    font-weight: bold;
}
.categoria{
    font-weight: bold;
}
.nroComprobante{
    font-weight: bold;
}
.montoPago{
    font-weight: bold;
}
.voucher{
    font-weight: bold;
}
.fechaPago{
    font-weight: bold;
}

