.cabeza{
    background-image: url(../../../assets/Imagenes/4j7k.gif);
    background-position: center;
    background-size: cover;
    position: relative;
  
}

.titulo{
font-size: 50px;
font-weight: bolder;
font-family: 'Lucida Bright', sans-serif;
-webkit-text-stroke: 1px rgba(5, 5, 5, 0.842);
text-shadow: 0.1em 0.1em 0.2em rgb(253, 253, 253);
color: rgba(243, 70, 2, 0.842);
}
.cabeza::after{
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: 0;

}
.info{
    color: rgb(255, 94, 0);
    font-weight: bold;
    font-family: 'Lucida Bright', sans-serif; 
    font-size: 25px;
}
.torneo{
    font-size: 18px;
}
.img-logo{
    margin-top: 70px;
    width: 150px;
    position: absolute;
}

.vh-50{
    height: 50vmin;
}

.card-effect:hover .card{
    clip-path: polygon(50% 0,
               50% 0,
               100% 50%,
               100% 50%,
                50% 100%,
                50% 100%,
                0     50%,
                0     50%);
}

.card{
    transition-duration:.6s ;
    clip-path: polygon(
               50% 0,
               100% 0,
               100% 50%,
               100% 100%,
               50% 100%,
                0   100%,
                0    50%,
                0    0);
}

.card-effect:hover .card-img-overlay{
    transform: scale(0.9);

}

.card-img-overlay{
    transition-duration: 0.6s;
}

.card-img-filter{
    filter: brightness(0.5);
}
.preins{
    color: rgb(255, 94, 0);
    font-weight: bold;
    font-family: 'Lucida Bright', sans-serif;  
}
.infopago{
    font-size: 17px;
}
.infoextra{
    font-size: 17px;
}