<app-header></app-header>
<div class="cabeza">
    <div class="container vh-50">
        
<br><br><br><br><br>
         <div class="row  h-100 align-items-center ">
              <div class="col-20">
                   <h1> <span class="titulo">TORNEO INTERNACIONAL MAXI BASQUET </span> <br></h1>
                   
                   <br><br>
                   
              </div> 
              
         </div>
    </div>

    <img src="../../../assets/Imagenes/cut-header.svg" alt="">
 </div>

 <section class="container">
    <div class="row">
       <div class="col-12 text-center">
           <h2 class="info"> INFORMACIÓN </h2>
           
           <strong class="torneo">
               3er Torneo Internacional de Maxi Básquet. El cual se realizará en la ciudad de Cochabamba-Bolivia, desde el jueves 5 el domingo 8 de enero de 2023, comprenderá distintas categorías, en la rama femenina. 
           </strong>
       <br><br><br>
        </div>

       <article class="col-4 card-effect">
           <div class="card">
                <img src="../../../assets/Imagenes/baskey.jpg" alt="" class="card-img card-img-filter">
                <div class="card-img-overlay text-white d-flex flex-column justify-content-center text-center">
                   
                     <h1><strong>Categoria +35</strong></h1>

                     
                </div>
           </div>
       </article>


       <article class="col-4 card-effect">
           <div class="card">
                <img src="../../../assets/Imagenes/baskey.jpg" alt="" class="card-img card-img-filter">
                <div class="card-img-overlay text-white d-flex flex-column justify-content-center text-center">
                     
                     <h1><strong>Categoria +45</strong></h1>

                     
                </div>
           </div>
       </article>


       <article class="col-4 card-effect">
           <div class="card">
                <img src="../../../assets/Imagenes/baskey.jpg" alt="" class="card-img card-img-filter">
                <div class="card-img-overlay text-white d-flex flex-column justify-content-center text-center">
                   
                     <h1><strong>Categoria +55</strong></h1>

                     
                </div>
           </div>
       </article>
    </div>
<br><br><br>

 </section>
 <div class="row justify-content-start">
     <div class="col-6 ">
       <h2 class="preins">INFORMACIÓN PREINSCRIPCIÓN</h2>
       <strong  class="infopago">
       El costo de la preinscripción es de $250 dólares por equipo hasta el 1 de agosto del presente año, pasada esta fecha el costo será de $350 dólares por equipo.
      </strong>
      <br>
      <strong  class="infopago">
      Se debe enviar el comprbante de pago al momento de realizar la preinscripción para que esta sea válida.
      </strong>
      </div>
    <div class="col-6">
      <img src="../../../assets/Imagenes/infopago.jpg">
     
     </div>
 </div>



 <div class="cont col-6">
      <h2 class="preins">ASPECTOS IMPORTANTES A TOMAR EN CUENTA</h2>
      <strong class="infoextra">
          •	Cada equipo debe contar con 15 jugadores máximo. 
      </strong>
      <br>
      <strong class="infoextra" >
          •	Todo el proceso de inscripcion solo lo puede realizar el delegado.
      </strong>
      <br>
      <strong class="infoextra" >
          •	Los datos necesario para solicitar una cuenta como delegado, son los siguientes: nombre completo, email, contraseña y confirmacion de contraseña. Una vez 
          enviados esos datos se debe esperar a que un administrador apruebe la cuenta. 
      </strong>
  </div>
<br><br><br>
<app-footer></app-footer>