<app-header></app-header>
<div class="cabeza">
    <div class="container vh-50">
        
<br><br><br><br><br>
         <div class="row  h-100 align-items-center ">
              <div class="col-6 text-white">
                   <h1> <span class="text-warning">Liga</span> <br>  3D</h1>
                   <strong>
                       Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet quidem, aperiam a aliquam illum facilis quod commodi nisi vel aut enim rem non nam alias natus inventore soluta delectus atque.
                   </strong>
                   <br><br>
                   
              </div> 
              
         </div>
    </div>

    <img src="../../../assets/Imagenes/cut-header.svg" alt="">
 </div>

 <section class="container">
    <div class="row">
       <div class="col-12 text-center">
           <h2 class="text-warning text-uppercase"> INFORMACION </h2>
           
           <strong>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium ipsam mollitia aperiam vero ipsum reiciendis, enim necessitatibus ratione animi, aspernatur deserunt quis eligendi odit atque sequi natus, voluptatem rem vitae!
           </strong>
       <br><br><br>
        </div>

       <article class="col-4 card-effect">
           <div class="card">
                <img src="../../../assets/Imagenes/baskey.jpg" alt="" class="card-img card-img-filter">
                <div class="card-img-overlay text-white d-flex flex-column justify-content-center text-center">
                   
                     <h1><strong>Categoria +35</strong></h1>

                     
                </div>
           </div>
       </article>


       <article class="col-4 card-effect">
           <div class="card">
                <img src="../../../assets/Imagenes/baskey.jpg" alt="" class="card-img card-img-filter">
                <div class="card-img-overlay text-white d-flex flex-column justify-content-center text-center">
                     
                     <h1><strong>Categoria +45</strong></h1>

                     
                </div>
           </div>
       </article>


       <article class="col-4 card-effect">
           <div class="card">
                <img src="../../../assets/Imagenes/baskey.jpg" alt="" class="card-img card-img-filter">
                <div class="card-img-overlay text-white d-flex flex-column justify-content-center text-center">
                   
                     <h1><strong>Categoria +55</strong></h1>

                     
                </div>
           </div>
       </article>
    </div>
 </section>

<br><br><br>
<app-footer></app-footer>